.hide{
    display: none;
}

.car{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: red;
}

.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 95px;
    background-color: white;
}
.game .gameArea{
    background-color: black;
    width: 200px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}